# Server
RESEND_FROM=""
RESEND_TOKEN=""
FLAGS_SECRET=""
ARCJET_KEY=""
WORKOS_API_KEY=""
WORKOS_CLIENT_ID=""
WORKOS_COOKIE_PASSWORD=""
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3001"

### Commercetools

# Server-side variables
COMMERCETOOLS_PROJECT_KEY=your_project_key_here
COMMERCETOOLS_CLIENT_ID=your_client_id_here
COMMERCETOOLS_CLIENT_SECRET=your_client_secret_here
COMMERCETOOLS_SCOPE=your_scope_here
COMMERCETOOLS_REGION=your_region_here

# Client
NEXT_PUBLIC_WORKOS_REDIRECT_URI="http://localhost:3001/api/auth/callback"
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_API_URL="http://localhost:3002"
