import { createContentIndexingHandoff, loadContentSearchProjection } from "@repo/cms/search";
import { commerceSearchIndexingSource } from "@repo/commerce-provider/cli";
import { createSearchCommand } from "@repo/search-provider/cli";
import type { ConfigProvider, Effect } from "effect";
{{imports}}

export const createWorkspaceSearchCommand = <E, R>(
  configProvider: Effect.Effect<ConfigProvider.ConfigProvider, E, R>
) => createSearchCommand(configProvider, {
  commerce: commerceSearchIndexingSource,
  content: {
    createIndexingHandoff: createContentIndexingHandoff,
    createProjection: loadContentSearchProjection,
    {{#contentSearchApp}}installContentSearchApp: {{contentSearchApp}},{{/contentSearchApp}}
  },
});
