import { keys as cms } from "@repo/cms/keys";
import { configurePortlessEnvironment } from "@repo/next-config/portless";
import { keys as observability } from "@repo/observability/keys";
import { keys as rateLimit } from "@repo/rate-limit/keys";
import { keys as security } from "@repo/security/keys";
import { createEnv } from "@t3-oss/env-nextjs";
import { z } from "zod";

import { webClientEnvFields, webCmsServerEnvFields } from "./env-schema";

{{imports}}

configurePortlessEnvironment("web");

export const env = createEnv({
  client: { ...webClientEnvFields, NEXT_PUBLIC_WEB_URL: z.string().url() },
  extends: [
    cms(),
    {{#environment}}{{environment}},{{/environment}}
    observability(),
    security(),
    rateLimit(),
  ],
  runtimeEnv: {
    ANALYZE: process.env.ANALYZE,
    VERCEL: process.env.VERCEL,
    VERCEL_PROJECT_PRODUCTION_URL: process.env.VERCEL_PROJECT_PRODUCTION_URL,
    NEXT_PUBLIC_WEB_URL: process.env.NEXT_PUBLIC_WEB_URL,
    CMS_HOMEPAGE_SLUG: process.env.CMS_HOMEPAGE_SLUG,
    CMS_REVALIDATION_SECRET: process.env.CMS_REVALIDATION_SECRET,
    NEXT_PUBLIC_ARCHITECTURE_OVERLAYS:
      process.env.NEXT_PUBLIC_ARCHITECTURE_OVERLAYS,
  },
  server: {
    ...webCmsServerEnvFields,
    ANALYZE: z.string().optional(),
    VERCEL: z.string().optional(),
    VERCEL_PROJECT_PRODUCTION_URL: z.string().optional(),
  },
});
