import { cmsProxy } from "@repo/cms/proxy";
import { i18nProxy } from "@repo/i18n/proxy";
import { createNEMO } from "@rescale/nemo";
import type { GlobalMiddlewareConfig, MiddlewareConfig } from "@rescale/nemo";
{{imports}}

export const config = { matcher: ["/((?!api|_next/|_static|_vercel|ingest|monitoring).*)"{{#proxy}}, "/api/auth/:path*"{{/proxy}}] };
const globalMiddlewares: GlobalMiddlewareConfig = {
  before: [cmsProxy, (request) => {
    if (!request.nextUrl.pathname.startsWith("/api")) { return i18nProxy(request); }
  }],
};
const middlewares: MiddlewareConfig = { "/": () => undefined };
export default {{proxy.open}}createNEMO(middlewares, globalMiddlewares){{proxy.close}};
