:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --base-transparent: rgba(255, 255, 255, 0);

  --french-paper-50: #fffbf4;
  --french-paper-100: #fef7eb;
  --french-paper-200: #fcf5e7;
  --french-paper-300: #fbf2e3;
  --french-paper-400: #f9f0e0;
  --french-paper-500: #f6eddd;
  --french-paper-600: #d3caba;
  --french-paper-700: #b0a797;
  --french-paper-800: #8b8475;
  --french-paper-900: #7a7468;
  --french-paper-950: #403c34;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;

  --product-fresh-hops: #8f993e;
  --product-whole-leaf: #585c3b;
  --product-organic-hops: #d2ab89;
  --product-hop-pellets: #d22630;
  --product-cryo-hops: #00b3e5;
  --product-cryo-fresh: #1c99cb;
  --product-co2-extract: #ff8c00;
  --product-hyperboost: #30d531;
  --product-dynaboost: #6cc8bd;
  --product-hop-blends: #d22630;

  --chief-blue-50: #e1f1f9;
  --chief-blue-100: #dcf3ff;
  --chief-blue-200: #c9e4f3;
  --chief-blue-300: #a9d4ec;
  --chief-blue-400: #5fb0da;
  --chief-blue-500: #298fc2;
  --chief-blue-600: #20729e;
  --chief-blue-700: #16587c;
  --chief-blue-800: #0c3f5a;
  --chief-blue-900: #004c7a;
  --chief-blue-950: #002b49;

  --american-noble-hops-50: #fcf7fc;
  --american-noble-hops-100: #f8eff7;
  --american-noble-hops-200: #f0deee;
  --american-noble-hops-300: #e4c3e0;
  --american-noble-hops-400: #d39fcc;
  --american-noble-hops-500: #bd78b3;
  --american-noble-hops-600: #a15a95;
  --american-noble-hops-700: #834878;
  --american-noble-hops-800: #6c3c63;
  --american-noble-hops-900: #5a3552;
  --american-noble-hops-950: #381a32;

  --co2-extract-50: #fdf7ed;
  --co2-extract-100: #f8e7cd;
  --co2-extract-200: #f1cd96;
  --co2-extract-300: #e9ae60;
  --co2-extract-400: #e4943b;
  --co2-extract-500: #dc7424;
  --co2-extract-600: #be531c;
  --co2-extract-700: #a23b1b;
  --co2-extract-800: #842f1c;
  --co2-extract-900: #6d281a;
  --co2-extract-950: #3e120a;

  --yakima-red-50: #fff1f1;
  --yakima-red-100: #ffe1e1;
  --yakima-red-200: #ffc8c8;
  --yakima-red-300: #ffa1a2;
  --yakima-red-400: #fe6b6c;
  --yakima-red-500: #f73d3e;
  --yakima-red-600: #e41e1f;
  --yakima-red-700: #c01516;
  --yakima-red-800: #9f1516;
  --yakima-red-900: #841819;
  --yakima-red-950: #480707;

  --web-accent-color-50: #f7f7f7;
  --web-accent-color-100: #e6e7e8;
  --web-accent-color-200: #bcbec0;
  --web-accent-color-300: #a3a5a7;
  --web-accent-color-400: #8b8d8f;
  --web-accent-color-500: #737577;
  --web-accent-color-600: #5b5d5f;
  --web-accent-color-700: #444648;
  --web-accent-color-800: #2e3032;
  --web-accent-color-900: #1b1d1f;
  --web-accent-color-950: #0a0b0c;

  --whole-leaf-50: #f1f5e3;
  --whole-leaf-100: #e5edc6;
  --whole-leaf-200: #d7e1a5;
  --whole-leaf-300: #c8d486;
  --whole-leaf-400: #b5c66a;
  --whole-leaf-500: #8f993e;
  --whole-leaf-600: #798438;
  --whole-leaf-700: #666f35;
  --whole-leaf-800: #585c3b;
  --whole-leaf-900: #3e402b;
  --whole-leaf-950: #2d2f20;
}
